@import 'default';
@import 'mixin';

h1,
h2,
h3 {
    @include font(900);
}

h4 {
    @include font(700);
}

p {
    @include font(400);
}

.btn {
    &.orange {
        @include button($orange);

        &:hover {
            @include activeButton($orange);
        }
    }

    &.blue {
        @include button($blue);

        &:hover {
            @include activeButton($blue);
        }
    }
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

h3,
p {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

body {
    padding: 0 16px;
}

header {
    padding: 38px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .burger-menu {
        .line {
            width: 18px;
            height: 2px;
            background-color: $darkgray;
            margin-bottom: 3px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h1 {
        transition: 0.4s;

        &.active {
            color: $pink;

            &:hover {
                color: $black;
            }
        }

        &:hover {
            color: $pink;
            cursor: pointer;
        }
    }

    .icons {
        svg {
            transition: 0.4s;

            &:first-child {
                margin-right: 20px;
            }

            &:hover {
                fill: $orange;
                cursor: pointer;
            }
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .block {
        width: 48%;
        background-color: $blue;
        border-radius: 8px;

        .title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                @include font(900);
                color: $white;
                margin: 38 px 55px;
                font-size: 20px;
            }

        }
    }

    .cover {
        @include cover(30%);
        width: 48%;
        img {
            border-radius: 8px;
        }

    }
}

.cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card {
        width: 17%;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
        border-radius: 8px;

        .cover {
            @include cover(100%);

            img {
                border-radius: 8px 8px 0 0;
            }
        }

        .content {
            padding: 10px;
            .desc {
                margin:14px 0 8px ;
            }
            .context{
                color: $contex;
                font-size: 12px;
                margin-bottom: 8px;
            }
        }
    }
}
.main-form{
    margin-top: 80px;
    form{
        width: 33%;
        margin: 0 auto;
        border: 1px solid $placeholder;
        border-radius: 8px;
        padding: 15px 20px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-bottom:30px ;
        }
        input[type=text], .select{
            width: 100%;
            display: flex;
            padding: 7px 0 7px 11px;
            border: 1px solid $placeholder;
            border-radius: 5px;
            color: $placeholder;
            margin-bottom: 20px;
        }
        .select{
            position: relative;
            .pick{
                position: absolute;
                cursor: pointer;
                top: 205;
                left: 96%;
                svg{
                    transition: 0.4s;
                    :hover{
                        fill: $orange;
                    }
                }
            }
            .options{
                display: none;
                position: absolute;
                top: 85%;
                left: 0;
                width: 98%;
                background-color: $white;
                color: $black;
                padding: 7px 0 7px 11px;
                .opt{
                    margin-bottom: 4px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            &:hover{
                .options{
                    display: block;
                }
            }
        }
    }
}